**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/
*.sln
*.csproj
.vs/
*.unitypackage
*.pidb.meta
sysinfo.txt
venv/
sharp-env/
.env
cache/
**/__pycache__/
*.pyc
ml-sharp/output/
*.ply
*.log
!Gaussian-URP/Assets/AutoImport/.keep
*.bytes
ml-sharp-main/
.vscode/
ml-sharp/launcher_config.json